<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧑🏼‍💻 CD Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Hellooooooo</h1>
    <p class="p-center">"I'm very sorry. This app is just about testing some github actions."</p>
    <div>
        <p>Paragraph without styling of any kind !!!!!!</p>
    </div>
</body>

</html>