<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧑🏼‍💻 CD Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Hello, {{ name }} </h1>
    <div>
        <p class="user">
            {% if user %}
            Congrats! You are a registered user.
            {% else %}
            You are most welcome as a visitor.
            {% endif %}
        </p>
    </div>
    <div>
        <p class="p-center">I'm very sorry. This site is only set up to test some github CD actions.</p>
    </div>
</body>

</html>